!!!
%html
  %head
    %title Erik Johnson's Index of Slides
    / Latest compiled and minified CSS
    %link{href:"//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", rel: "stylesheet"}/
    / Optional theme
    %link{href:"//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css", rel: "stylesheet"}/
  %body

    %section.col-sm-12{'data-markdown'=>'index.md'}

    %script{src:'marked.js'}
    %script{src:'markdown.js'}
