/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
/*  margin: 0 0 20px 0;
  color: #eeeeee;
  line-height: 0.9em;
  letter-spacing: 0.02em;
*/  text-transform: none;

/*  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); */}

/*.reveal h1 { font-size: 2.2em; }
.reveal h2 { font-size: 1.8em; }
.reveal h3 { font-size: 1.5em; }
.reveal h4 { font-size: 1.2em;  }
*/
