/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  line-height: 0.9em;
}

.reveal h1 { font-size: 1.6em; }
.reveal h2 { font-size: 1.3em; }
.reveal h3 { font-size: 1.2em; }
.reveal h4 { font-size: 1.1em;  }

.reveal section img {
  background: none;
  border: none;
}


/*

undo https://github.com/hakimel/reveal.js/commit/8162855d23601e66a25ba79dd4013ef416c4f1b4

*/
.reveal {
  font-size: 30px;
}


/*

display discs instead of squares for sub-bullets

*/
ul li li {
   list-style: disc;
}
